
@{
    ViewBag.Title = "Thank you: Mail Monitor";
}

<div class="col-md-12">
    <h2>Thanks for subscribing!</h2>
    <p><a style="text-decoration:none;" href="https://client.mailmonitorapp.com/signin" target="_blank">Click here to sign in now</a>  to your new account.</p>
    <p>MailMonitor Team</p>
</div>
<div class="col-md-12">
    <img src="~/Content/map.png">
</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
        _veroq.push(['user', { id: '@ViewBag.id', email:'@ViewBag.email' }]);
</script>

<script style="text/javascript">
    _veroq.push(['track', 'CompletePurchase']);
</script>*@